.dashboardItem {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  font-size: 1.7rem;
  font-weight: 600;

  background-color: var(--color-light--1);
  border-radius: 7px;
  border-left: 5px solid var(--color-brand--1);
  padding: 0.7rem 0;

  height: 100px;
}

.dashboardItem > h4 {
  font-family: "Fredoka", system-ui;
  margin: 0;
}

.dashboardItem p,
.dashboardItem p span {
  font-size: 0.8rem;
}
