.groups {
  width: 40vw;
  height: 100vh;
  background-color: var(--color-dark--0);
  box-shadow: 0 0.4rem 1.2rem rgba(36, 42, 46, 0.16);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
